
$color-primary: #777;
$color-primary-light: #000000;
$color-primary-dark: #070707; 

$color-secondary-light: rgb(78, 74, 74);
$color-secondary-dark: rgb(33, 31, 31);

$color-tertiary-light: #2988ff;
$color-tertiary-dark: #5643fa;

$color-black-light-1: #212121;

$color-black: black;
$color-white: white;

$color-gray-dark: rgb(78, 74, 74);
$color-gray-dark-2: #999; 

$color-danger-dark: #ad1d1d;
$color-danger-light: #f03535;

$color-success-light: #2af64f;
$color-success-dark: #00a410;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;