*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 12px; /* Adjust the width as needed */
  }
  
::-webkit-scrollbar-thumb {
    background-color: $color-primary-light; /* Set your desired color */
    border-radius: 10px; /* Adjust the border radius as needed */
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato';
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    /* padding: 30px; */
    padding: 3rem;
    background-color: black;
    box-sizing: border-box;
}
